* {
    margin: 0;
    padding: 0;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.main {
    /* height: 100vh; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* border-radius: 10px; */
}

.pageDiv{
position: relative;
}

.tag{
    position: absolute;
    color: red!important;
    width: 70px;
    height: 70px;
}


.demoPage img {
    justify-content: center;
    min-width: 300px;
    min-height: 460px;
    /* width: 300px; */
    /* border-radius: 10px; */
    max-width: 500px;
    max-height: 600px;
}

 .flip-book {
    background-image: url(../../../public/images/zyro-image.jpg);
    background-size: cover;
    min-width: 315px;
    min-height: 400px;
    /* width: 500px;
    height: 700px; */
    max-width: 2000px;
    display: block;
} 

.flip-book img{
    width: 470px;
    height: 900px;
    padding-right: 10px;
    border-radius: 10px;
    min-width: 315px;
    min-height: 400px;
}


.stf__parent{
    position: relative;
    display: block;
    box-sizing: border-box;
    transform: translateZ(0);
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}

.demoPage {
    min-width: 315px;
    min-height: 500px;
    width: 100%;
    /* height: fit-content; */
    max-width: 2000px;
    display: block;
}

.container-md {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.stf__item {
    /* display: none; */
    position: absolute;
    transform-style: preserve-3d;
}

.page {
    padding: 20px;
    background-color: #fdfaf7;
    color: #785e3a;
    border: 1px solid #c2b5a3;
    overflow: hidden;

}

.stf__item {
    /* display: none; */
    position: absolute;
    transform-style: preserve-3d;
}


.stf__block {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    perspective: 2000px;
}

.page.page-cover {
    background-color: lightgrey;
    color: #785e3a;
    border: 1px solid #998466;
}

.stf__wrapper {
    margin-left: -7px;
}

.page.page-cover.page-cover-top {
    box-shadow: inset 0 0 30px 0 rgb(36 10 3 / 50%), -2px 0 5px 2px rgb(0 0 0 / 40%);
}

.page .page-cover .page-cover-top .stf__item--hard--right{
    position: absolute;
    display: block;
    height: 485px;
    left: 0.042292px;
    top: 0px;
    width: 363.915px;
    z-index: 1;
}

.page-cover {
    position: absolute;
    display: block;
    height: 619.718px;
    left: 465px;
    top: 0.140909px;
    width: 465px;
    z-index: 1;
}


.page.page-cover.page-cover-top {
    display: none;
    z-index: 1;
    left: 0px;
    top: 0px;
    width: 465px;
    height: 619.718px;
    backface-visibility: hidden;
    transform-origin: 0px 0px;
    clip-path: none;
    box-shadow: inset 0 0 30px 0 rgb(36 10 3 / 50%), -2px 0 5px 2px rgb(0 0 0 / 40%);
}

.demo-block {
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}

.pb-3,
.py-3 {
    padding-bottom: 1rem !important;
}

.pt-3,
.py-3 {
    padding-top: 1rem !important;
}

.overflow-hidden {
    overflow: hidden !important;
}